<div class="card-block">
    <div class="text-center">
        <h3><i class="fa fa-envelope"></i> Add Your Blog</h3>
    </div>
    <form class="container" [formGroup]="blogForm" (ngSubmit)="onSubmit()">

        <div class="md-form">
            <input type="text" id="title" name="title" formControlName="title">
            <label for="title">Blog Titile</label>
        </div>

        <div class="md-form">
            <textarea id="body" name="description" formControlName="description"></textarea>
            <label for="body">Blog Description</label>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary">submit</button>
        </div>
    </form>

</div>

<app-navbar></app-navbar>