<div class="card container" style="width: 26rem; margin-top: 40px;">
    <h5 class="card-header info-color white-text text-center py-8">
        <strong>Sign up</strong>
    </h5>

    <div class="card-body px-lg-5 pt-0">
        <form class="text-center" style="color: #757575;" [formGroup]="userForm" enctype="multipart/form-data"
            (ngSubmit)="onSubmit()">

            <div class="md-form">
                <input type="text" class="form-control" id="fullName" formControlName="fullName" />
                <label for="fullName">Full Name</label>
            </div>

            <div class="md-form">
                <input type="text" class="form-control" id="email" formControlName="email" />
                <label for="email">E-mail</label>
            </div>

            <div class="md-form">
                <input type="password" class="form-control" id="password" formControlName="password" />
                <label for="password">Password</label>
            </div>

            <div class="md-form">
                <input type="text" class="form-control" id="address" formControlName="address" />
                <label for="address">Address</label>
            </div>

            <div class="md-form">
                <input type="number" class="form-control" id="zipCode" formControlName="zipCode" />
                <label for="zipCode">Zip Code</label>
            </div>

            <div class="md-form">
                <input type="number" class="form-control" id="phone" formControlName="phoneNumber" />
                <label for="phone">Phone</label>
            </div>

            <div class="md-form">
                <label for="image">Upload Image</label>
                <input type="file" id="image" name="image"  (change)="onFileSelected($event)"
                    required>
            </div>

            <button class="btn btn-outline-info btn-rounded" type="submit">Sign un</button>
            <p>Already have an account?
                <a routerLink="/login">Login</a>
            </p>
        </form>
    </div>
</div>